<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekaca.mapper.BrandMapper">
    <resultMap id="brandResultMap" type="brand">
        <result property="brandName" column="brand_name"></result>
        <result property="companyName" column="company_name"></result>
        <result property="typeId" column="type_id"></result>
    </resultMap>
    <resultMap id="typeResultMap" type="brandType">
    </resultMap>
    <insert id="add">
        insert into tb_brand values(null,#{brandName},#{companyName},#{ordered},#{description},#{status},#{typeId});
    </insert>
    <update id="update">
        update tb_brand set brand_name = #{brandName}, company_name=#{companyName},ordered=#{ordered},
                            description=#{description}, status=#{status}
        where id = #{id};
    </update>
    <delete id="delete">
        delete from tb_brand where id = #{id};
    </delete>
    <select id="selectAll" resultMap="typeResultMap">
        SELECT
            *
        FROM
            tb_brand
                INNER JOIN
            tb_type ON tb_brand.type_id = tb_type.type_id
            LIMIT #{start}, #{pageSize};
    </select>
    <select id="search" resultMap="brandResultMap">
        select
            *
        from tb_brand
        <where>
            <if test="brand.brandName != null and brand.brandName != '' ">
                and  brand_name like concat('%',#{brand.brandName},'%')
            </if>

            <if test="brand.companyName != null and brand.companyName != '' ">
                and  company_name like concat('%',#{brand.companyName},'%')
            </if>

            <if test="brand.status != null">
                and  status = #{brand.status}
            </if>

            <if test="brand.typeId != null">
                and  type_id = #{brand.typeId}
            </if>

        </where>
        LIMIT #{start}, #{pageSize};
    </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
        select count(*) from tb_brand;
    </select>
    <select id="queryBrandCount" resultType="java.lang.Integer">
        select
        count(*)
        from tb_brand
        <where>
            <if test="brand.brandName != null and brand.brandName != '' ">
                and  brand_name like concat('%',#{brand.brandName},'%')
            </if>

            <if test="brand.companyName != null and brand.companyName != '' ">
                and  company_name like concat('%',#{brand.companyName},'%')
            </if>

            <if test="brand.status != null">
                and  status = #{brand.status}
            </if>

            <if test="brand.typeId != null">
                and  type_id = #{brand.typeId}
            </if>

        </where>
    </select>
</mapper>